<div id='landing-page'>
  <form action='/artist-search' method='GET'>
    <div class='form-group' id='search-form-container'>
      <input id="" class="container form-control form-control-lg mb-3 " type='text' name='searchQuery' />
      <button class="form-control btn btn-danger" type='submit'>Search for an Artist</button>
    </div>
  </form>
</div>